# base/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
spec:
  replicas: 4
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: demo-app
          image: 120653558546.dkr.ecr.ap-south-1.amazonaws.com/my-app:v-ac6fb3d
          ports:
            - containerPort: 8080
          
          # --- 여기에 resources 추가 ---
          resources:
            requests:
              cpu: "250m"      # 0.25 vCPU
              memory: "256Mi"  # 256 Mebibytes
            limits:
              cpu: "500m"      # 0.5 vCPU
              memory: "512Mi"  # 512 Mebibytes

      imagePullSecrets:
        - name: my-reg