# base/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
spec:
  replicas: 4
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      serviceAccountName: app-sa  # 이 줄 추가
      containers:
      - name: demo-app
        image: 120653558546.dkr.ecr.ap-south-1.amazonaws.com/my-app:v-ac6fb3d
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: "250m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
      # imagePullSecrets:  # 이 두 줄 제거 또는 주석 처리
      # - name: my-reg
